/* fonts */

/* utilitites styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
  font-size: 16px;
}
.container {
  max-width: 870px;
  margin: 0 auto;
}
hr {
  border: 1px solid #d1d1d1;
  width: 90%;
  margin: 0 auto;
}
.section-title::after {
  content: "";
  width: 35px;
  height: 5px;
  background-color: #ed6b4f;
  border-radius: 4px;
  display: block;
  margin: 10px 0;
}
/* style for header */
header {
  max-width: 100vw;
  height: auto;
  background-color: #562eff;
  position: sticky;
  top: 0;
}
nav {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-evenly;
  padding: 5px 0;
}
.nav-brands {
  display: flex;
  align-items: center;
}
.nav-logo img {
  width: 40px;
  height: 51px;
}
.nav-text {
  color: #fff;
  font-size: 24px;
  padding-left: 15px;
  font-weight: 500;
}
.nav-links {
  position: relative;
}
.nav-links ul {
  display: flex;
  text-align: center;
  align-items: center;
}
.nav-links ul li {
  list-style-type: none;
}
.nav-links ul li a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding-left: 36px;
  position: relative;
}
.nav-links ul li a::after {
  content: "";
  width: 0;
  height: 4px;
  background-color: #ed6b4f;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  transition: 0.3s linear;
}
.nav-links ul li a:hover::after {
  width: 100%;
}
.nav-links ul li a img {
  width: 51px;
  height: 51px;
}
/* Menu icon */
.menu-icon {
  position: relative;
  margin-bottom: 30px;
  display: none;
}
.fa-bars,
.fa-times {
  font-size: 25px;
  color: #fff;
  position: absolute;
}

/* top player  start */
.top-player-blogs {
  background-color: #fff;
}

.section-title {
  padding: 33px 0 0 33px;
  color: #562eff;
  font-size: 24px;
  font-weight: 500;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 29px;
  padding: 40px 30px;
}

.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  font-size: 18px;
  margin-left: 16px;
  font-weight: 500;
}

/* top player  end */

/* -----------
    top blog start
    ---------------- */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 26px;
  padding: 40px 30px;
}
.blog {
  display: flex;
}
.blog .thumbnail img {
  width: 177px;
  height: 117px;
}
.blog .blog-info {
  margin-left: 16px;
}
.blog .blog-info .blog-title {
  font-size: 20px;
  font-weight: 500;
}
.blog-author {
  font-size: 1em;
  font-weight: 400;
  color: #9f9f9f;
}
.blog-author a {
  text-decoration: none;
  color: #562eff;
}
/* -----------
    top blog end
    ---------------- */
/* course style start */

.coursers-section {
  background-color: #fff;
  margin-top: 20px;
  height: 380px;
}

.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.course {
  margin: 5px;
  padding: 13px 11px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
.courses-bannar img {
  width: 224px;
  height: 104px;
}
.course-details {
  padding-top: 19px;
}
.course-name {
  font-size: 20px;
  font-weight: 500;
}
.author {
  font-size: 14px;
  font-weight: 400;
  color: #ed6b4f;
}
.course-info {
  display: flex;
  justify-content: space-between;
}
.fa-star {
  font-size: 14px;
}
.fa-star.fill {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
.duration {
  color: #ed6b4f;
  background-color: #fee5df;
  padding: 5px;
  border-radius: 14px;
}
/* course style end */

/* media queries for mobile devices */
@media only screen and (max-width: 768px) {
  body {
    background-color: #fff;
  }

  .nav-links {
    content: "";
    position: absolute;
    width: 200px;
    height: 100vh;
    background-color: rgba(44, 114, 194, 0.973);
    top: 67px;
    left: -200px;
    display: block;
    transition: 0.5s linear;
  }
  .nav-links ul {
    flex-direction: column;
    margin: 20px 0;
  }
  .nav-links ul li {
    padding: 10px;
  }
  .nav-links ul li a {
    font-size: 20px;
  }

  .menu-icon {
    display: block;
  }
  .fa-times {
    display: none;
  }

  -------- */ .container {
    width: 100%;
    margin-top: 30px;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .blogs {
    margin-left: 60px;
  }

  .player,
  .blog {
    flex-direction: column;
  }
  .courses {
    padding: 30px 0;
  }
}
